<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
</head>
<body>
    <div class="container">
        <form method="POST" action="">
            <label for="username">USERNAME : </label>
            <input type="text"></label><br>
            <label for="password">PASSWORD : </label>
            <input type="password"><br>
            <input type="submit" value="login">
        </form>
    </div>
</body>
</html>